.header--menu {
  display: none;
}

.header--menu-options ul {
  display: flex;
}

.banner {
  height: 550px;
}

.banner .banner--button {
  top: 380px;
  box-shadow: none;
}

.banner h1 {
  font-size: 3.2rem;
  letter-spacing: 1rem;
}

.banner p {
  font-size: 2rem;
}
